@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
  background : -webkit-linear-gradient(#000000,#6a6a6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.purpleShadow {
  box-shadow: 3px 3px 1px 1px rgb(141, 197, 235);
}

.purpleShadow:hover {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 1px 1px rgb(141, 197, 235);
}